/* РУТ ЦВЕТА */
:root {
   --secondary-text-color: #757575;
   --primary-text-color: #212121;
   --current-color: #2196f3;
   --white-colour: #ffffff;
   --addres-colour: rgba(255, 255, 255, 0.6);
   --background: #2f303a;
   --second-background: #f5f4fa;
   --border: #eeeeee;
   --clients-picture-border: #afb1b8;
   --hero-background: #c4c4c4;
}
/* ОБЩИЕ НАСТРОЙКИ */

body {
   font-family: Roboto, sans-serif;
   color: var(--primary-text-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin-top: 0px;
   margin-bottom: 0px;
}
ul {
   padding: 0px;
   margin-top: 0px;
   margin-bottom: 0px;
}
.container {
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
}
.list {
   list-style: none;
}
.link {
   text-decoration: none;
}
/* ХЕДЕР */
.header {
   border-bottom: 1px solid #ececec;
}
.header-content,
.site-nav,
.nav {
   display: flex;
}

.site-nav > .nav-list {
   padding: 32px 0;
}
.site-nav > .nav-list:not(:last-child) {
   margin-right: 50px;
}

.toplogo {
   padding-top: 24px;
   padding-bottom: 25px;
   margin-right: 93px;
}
.logo {
   font-family: Raleway;
   font-style: normal;
   font-size: 26px;
   line-height: 1.19;
   color: var(--current-color);
}
.logo:hover,
.logo:focus {
   color: var(--current-color);
}
.header-logo {
   font-family: Raleway;
   font-style: normal;
   font-size: 26px;
   line-height: 1.19;
   color: var(--primary-text-color);
}
.header-logo:hover,
.header-logo:focus {
   color: var(--primary-text-color);
}

.nav-link {
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   color: var(--primary-text-color);
}
.current {
   color: var(--current-color);
}
.header-contacts {
   margin-left: auto;
   display: flex;
}
.contacts-list {
   display: block;
   padding-bottom: 32px;
   padding-top: 32px;
}
.header-contact {
   display: flex;
   align-items: center;
   margin-right: 50px;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   color: var(--secondary-text-color);
}
.header-contacts :not(:last-child) {
   margin-right: 50px;
}
.header-contact:hover,
.header-contact:focus {
   color: var(--current-color);
}

.header-contact:hover .svg-phone,
.header-contact:focus .svg-phone,
.header-contact:hover .svg-mail,
.header-contact:focus .svg-mail {
   fill: var(--current-color);
}

.svg-phone,
.svg-mail {
   margin-right: 10px;
   fill: rgba(117, 117, 117, 1);
}

/* INDEX BODY Styles */
.hero-section {
   padding: 200px 0;
   text-align: center;
   width: 100%;
   background-color: var(--background);
}
.hero-img {
   margin-right: auto;
   margin-left: auto;
   max-width: 1600px;
   height: 600px;
   background-repeat: no-repeat;
   background-color: var(--hero-background);
   background-image: linear-gradient(
         to bottom,
         rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)
      ),
      url(../images/heropicture.jpg);
   background-position: center;
   background-size: cover;
}
.main-title {
   margin-bottom: 30px;
   font-style: normal;
   font-weight: 900;
   font-size: 44px;
   line-height: 1, 5;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: var(--white-colour);
}
.order-service {
   border-radius: 4px;
   min-width: 200px;
   padding: 10px 32px;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.875;
   background-color: var(--current-color);
   color: var(--white-colour);
   cursor: pointer;
   letter-spacing: 0.06em;
}
.order-service:focus,
.order-service:hover {
   background-color: var(--current-color);
   color: var(--white-colour);
}
.section {
   padding-bottom: 94px;
}

.features-section {
   padding-bottom: 94px;
   padding-top: 94px;
}
.sections-title {
   margin-bottom: 50px;
   font-style: normal;
   font-size: 36px;
   line-height: 1.16;
   text-align: center;
   letter-spacing: 0.03em;
}
.hide-title {
   height: 0px;
   opacity: 0;
}
.features-list {
   display: flex;
}
.features-svg {
   width: 270px;
   height: 120px;
   border: 1px solid transparent;
   border-radius: 4px;
   padding: 30px 100px;
   margin-bottom: 30px;
   background-color: var(--second-background);
}
.features:not(:last-child),
.whatwedo-list:not(:last-child),
.worker:not(:last-child) {
   margin-right: 30px;
}
.features-title {
   margin-bottom: 10px;
   font-style: normal;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}
.features-paragraph {
   font-weight: 400;
   font-style: normal;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: var(--secondary-text-color);
}
.whatwedo {
   display: flex;
}
.team-section {
   padding: 94px 0;
   background-color: var(--second-background);
}

.workers-list {
   display: flex;
}
.worker {
   display: block;
}
.worker-foto {
   display: block;
}
.worker-inf {
   justify-content: center;
   padding-top: 30px;
   padding-bottom: 30px;
   background-color: var(--white-colour);
}
.worker-name {
   margin-bottom: 10px;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.19;
   text-align: center;
   letter-spacing: 0.03em;
}
.proffession {
   margin-bottom: 16px;
   font-style: normal;
   font-size: 16px;
   line-height: 1.19;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--secondary-text-color);
}
.social {
   display: flex;
   justify-content: center;
   align-items: center;
}
.social-link {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 44px;
   height: 44px;
   background-color: var(--white-colour);
   border-radius: 50%;
}
.social-svg {
   fill: var(--clients-picture-border);
}
.social-link:focus,
.social-link:hover {
   background-color: var(--current-color);
}

.social-link:focus .social-svg,
.social-link:hover .social-svg {
   fill: var(--white-colour);
   background-color: var(--current-color);
}
.social-link:not(:last-child) {
   margin-right: 10px;
}
.clients {
   display: flex;
}
.clients-icons {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid var(--clients-picture-border);
   border-radius: 4px;
   width: 170px;
   height: 92px;
   padding: 16px 32px;
}
.client:not(:last-child) {
   margin-right: 30px;
}
.client-icon {
   fill: var(--clients-picture-border);
}
.clients-icons:focus,
.clients-icons:hover {
   cursor: pointer;
   border: 1px solid var(--current-color);
}
.clients-icons:focus .client-icon,
.clients-icons:hover .client-icon {
   fill: var(--current-color);
}
/* Portfolio STYLES */
.btn-list {
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
}
.filter-button {
   display: inline-block;
   border-radius: 4px;
   padding: 6px 22px;
   background-color: var(--second-background);
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.625;
   text-align: center;
   letter-spacing: 0.03em;
   border: none;
}
.filter-buttons:not(:last-child) {
   margin-right: 8px;
}
.filter-button:focus,
.filter-button:hover {
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
   border-radius: 4px;
   color: var(--white-colour);
   background-color: var(--current-color);
}
.product-list {
   display: flex;
   flex-wrap: wrap;
   margin: -15px;
}
.product {
   flex-basis: calc((100% - 90px) / 3);
   /* flex-basis: 370px; */
   margin: 15px;
   cursor: pointer;
}
/* .product:nth-child(3n) {
   margin-right: 0px;
} */
/* .product:nth-last-child(-n + 3) {
   margin-bottom: 0px; 
} */
.products-inside {
   display: block;
   padding: 20px 24px;
   background-color: var(--white-colour);
   border-bottom: 1px solid var(--border);
   border-left: 1px solid var(--border);
   border-right: 1px solid var(--border);
}
.product-img {
   display: block;
}
.product-link {
   display: inline-block;
}
.product-link:hover,
.product-link:focus {
   cursor: pointer;
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product-name {
   margin-bottom: 4px;
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
}
.description {
   font-style: normal;
   font-size: 16px;
   line-height: 1.875;
   letter-spacing: 0.03em;
   color: var(--secondary-text-color);
}
/* СТИЛИ ФУТЕРА */
footer {
   background-color: var(--background);
}
.footer {
   padding-top: 60px;
   padding-bottom: 60px;
}
.footer-content {
   display: flex;
   align-items: center;
}
.logo-address {
   margin-right: 70px;
}
.btmlogo {
   display: inline-block;
   margin-bottom: 20px;
}
.footer-logo {
   font-family: Raleway;
   font-style: normal;
   font-size: 26px;
   line-height: 1.19;
   color: var(--white-colour);
}

.street {
   font-style: normal;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: var(--white-colour);
}
.street:hover,
.street:focus {
   color: var(--current-color);
}
.foot-contacts {
   font-style: normal;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: var(--addres-colour);
}

.foot-contacts:hover,
.foot-contacts:focus {
   color: var(--current-color);
}
.address-list:not(:last-child) {
   margin-bottom: 9px;
}

.join-us {
   display: inline-block;
   margin-bottom: 20px;
   font-style: normal;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--white-colour);
}
.footer-social-link {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 44px;
   height: 44px;
   background-color: #ffffff1a;
   border-radius: 50%;
}
.footer-social-svg {
   fill: var(--white-colour);
}
.footer-social-link:focus,
.footer-social-link:hover {
   background-color: var(--current-color);
}

.footer-social-link:focus .footer-social-svg,
.footer-social-link:hover .footer-social-svg {
   fill: var(--white-colour);
   background-color: var(--current-color);
}
.footer-social-link:not(:last-child) {
   margin-right: 10px;
}
